/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-peppermint);
  --body-background-colour: var(--colour-cello);
}

/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
  
}

/*main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  Screen reader text utility class
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

header {
  background-color: #101824;
}

main {
  background-color:white;
  color:black;
}

footer {
  background-color: #101824;
}

h1 {
  background-color:rgb(139, 8, 8);
}

.behindTheScenes {
  padding: 2rem;
  display: grid;
  border-radius: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: fr ;
}

.aboutUs {
  padding: 2rem;
  display: grid;
  border-radius: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: fr ;
}

.gridTitle {
  grid-column-start: 1;
  grid-row-start: 1;
}

.gridDescription {
  grid-column-start: 2 ;
  grid-row-start: 1;
}



.gridPic {
grid-row-start: 1;
grid-column-start: 3;
}

/* just for the page 3 */

.Header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
}

.titleMenu {
  grid-column-start:2;
  grid-column-end:3;
  font-size: xx-large;
  grid-row-start:1;
  grid-row-end:2;
  text-align: center;
  padding-top:1rem;
}

.Logo {
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:1;
  grid-row-end:2;
  padding-left:1rem;
}

.homeButton {
  grid-column-start:3;
  grid-column-end:4;
  grid-row-start:1;
  grid-row-end:2;
  padding-top:1rem;
  font-size: medium;
  padding-top:1.3rem;
  text-align: center;
}

.button {
  background-color: rgb(139, 8, 8);
  border:#000000;
  border-width: 1rem;
  color:rgb(163, 163, 163);
}

header {
  border-bottom: 1px solid #000000;
}

.h1 {
  border-bottom: 1px solid #000000;
  text-align: center;
}

footer {
  border-top: 1px solid #000000;
}

.invisibleText {
  color:#101824;
}

.behindTheScenes {
  padding:2rem;
  display:grid;
  grid-template-columns: 1fr 1fr 0.1fr 1fr 1fr;
}

.behindTheScenestext {
  grid-column-start:1;
  grid-column-end:6;
  text-align:center;
  padding-top:4rem
}

.storyboardLine1 {
  grid-column-start:1;
  grid-column-end:3;
  background-color:rgb(139, 8, 8);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding:1rem;
}

.storyboardLine2 {
  grid-column-start:4;
  grid-column-end:6;
  background-color:rgb(139, 8, 8);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding:1rem;
}

#planning1 {
  grid-row-start:1; 
  grid-row-end:2;
  background-color:rgb(139, 8, 8);
}

#planning2 {
  grid-row-start:1; 
  grid-row-end:2;
  background-color: #101824;
}

#planning3 {
  grid-row-start:2; 
  grid-row-end:3;
  background-color: #101824;
}

#planning4 {
  grid-row-start:2; 
  grid-row-end:3;
}

#planning5 {
  grid-row-start:3; 
  grid-row-end:4;
}

.rotateImage {
  transform: rotate(270deg);
  align-items: center;
  padding-top:5rem;
  max-height:20rem;
}

.behindTheScenestext2 {
  text-align:center;
  padding-top:4rem;
}

#Wireframing1 {
  grid-row-start:1;
  grid-row-end:2;
  background-color: #101824;
}

#Wireframing2 {
  grid-row-start:1;
  grid-row-end:2;
}

#Wireframing3 {
  grid-row-start:2;
  grid-row-end:3;
}

#Wireframing4 {
  grid-row-start:2;
  grid-row-end:3;
  background-color: #101824;
}

.Wireframing1 {
  grid-column-start:1;
  grid-column-end:3;
  background-color:rgb(139, 8, 8);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding:1rem;
}

.Wireframing2 {
  grid-column-start:4;
  grid-column-end:6;
  background-color:rgb(139, 8, 8);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding:1rem;
}

/* done with page 3 */

.h2 {
  text-align: center;
}

.aboutusgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
